<!DOCTYPE html>
<html>
<head>
    <title>Loading...</title>

    <style>
        body {
            margin: 0;
            overflow: hidden;
            background: black;
        }

        video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    </style>
</head>

<body>

<video autoplay muted id="introVideo">
    <source src="{{ url_for('static', filename='introvid.mp4') }}" type="video/mp4">
</video>

<script>
    const video = document.getElementById("introVideo");

    video.onended = function() {
        window.location.href = "/home";
    };
</script>
<script>
    sessionStorage.setItem("seenIntro", "true");

    // after video ends → go to main page
    setTimeout(() => {
        window.location.href = "/";
    }, 4000); 
</script>

</body>
</html>