<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Search Patient</h1>

<form method="POST">
    Enter Name or ID: <input type="text" name="query">
    <button type="submit">Search</button>
</form>

<br>

<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
</tr>

{% for r in result %}
<tr>
    <td>{{ r[0] }}</td>
    <td>{{ r[1] }}</td>
    <td>{{ r[2] }}</td>
    <td>{{ r[3] }}</td>
</tr>
{% endfor %}

</table>
<footer>
<div class="links">
    <a href="/">Home</a>
    <a href="/patients">Patients</a>
    <a href="/doctors">Doctors</a>
    <a href="/appointments">Appointments</a>
    <a href="/prescriptions">Prescriptions</a>
</div>
</footer>
</body>
</html>